<!doctype html>
<!--
Website By Miradontsoa / Highhay
http://twitter.com/miradontsoa
http://highhay.com
contact at highhay dot com
-->
<html class="no-js smooth-scroll" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- Page Title Here -->
  <title>Simpleux - A portfolio / onepage template</title>

  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="description"
    content="A beautiful and creative portfolio template. It is mobile friend (responsive) and comes with smooth animations">

  <!-- Disable screen scaling-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, shrink-to-fit=no">

  <!-- Twitter Meta -->
  <meta name="twitter:site" content="@miradontsoa">
  <meta name="twitter:creator" content="@miradontsoa">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Page Title">
  <meta name="twitter:description" content="Description of the page">
  <meta name="twitter:image" content="/img/bg-default.jpg">

  <!-- Facebook Meta -->
  <meta property="og:url" content="your website url here">
  <meta property="og:title" content="Page Title">
  <meta property="og:description" content="Description of the page">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/img/bg-default.jpg">
  <meta property="og:image:secure_url" content="/img/bg-default.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <!-- Web fonts and Web Icons -->
  <link rel="stylesheet" href="./fonts/ionicons/stylesheet.css">
  <link rel="stylesheet" href="./fonts/font-awesome.min.css">

  <!-- Vendor CSS style -->
  <link rel="stylesheet" href="./css/page-loader.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./js/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="./js/vegas/vegas.min.css">

  <!-- Main CSS files -->
  <link rel="stylesheet" href="./css/main.css">

  <!-- add alt layout here -->
  <link rel="stylesheet" href="./css/style-default.css">

  <script src="./js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="body-page">
  <!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <!-- Begin of navigation bar .navbar-top -->
  <header class="navbar-top navbar navbar-a navbar-expand-lg navbar-dark ">
    <nav class="container-fluid px-0">

      <!-- Logo -->
      <a class="navbar-brand" href="demo.html">
        <span class="logo">
          <img class="light-logo" src="img/logo.svg" alt="Simpleux Template">
        </span>
        <span class="text ms-3">
          <span class="line strong">Simpleux</span>
          <span class="line sub">Portfolio Template</span>
        </span>
      </a>

      <!-- Menu button -->
      <button class="navbar-toggler order-lg-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarMenuCollapse" aria-controls="navbarMenuCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="icon icon-menu icon-menu-a">
          <span class="bars">
            <span class="bar1"></span>
            <span class="bar2"></span>
            <span class="bar3"></span>
          </span>
        </span>
      </button>

      <!-- Navigation menu -->
      <div class="collapse navbar-collapse order-lg-1" id="navbarMenuCollapse">
        <div class="navbar-menu-wrapper">
          <div class="nav-body">
            <!-- Menu links at top -->
            <ul class="navbar-nav nav-menu-top">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#an_url">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTopDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Pages
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarTopDropdown">
                  <li><a class="dropdown-item" href="demo.html#home">Home pages</a></li>
                  <li><a class="dropdown-item" href="demo.html#item">Item pages</a></li>
                  <li><a class="dropdown-item" href="demo.html#gallery">Gallery pages</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="demo.html">All pages</a></li>
                </ul>
              </li>
            </ul>

            <!-- Fullscreen menu on large devices -->
            <div class="nav-fullscreen-lg">
              <ul class="navbar-nav nav">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="demo.html#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="demo.html#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="demo.html#item">Item</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="demo.html">Demo</a>
                </li>
              </ul>
            </div>

            <!-- Call to action buttons -->
            <ul class="navbar-nav nav-cta">
              <li class="nav-item">
                <a class="btn btn-outline btn-white rounded-pill" href="#">
                  <span class="text">Buy now</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- Nav footer of small devices -->
          <div class="nav-footer-md">
            <nav class="nav-social nav-social-a">
              <ul>
                <li class="nav-item">
                  <a class="nav-link btn" href="#">
                    <span class="icon">
                      <i class="ion ion-logo-instagram"></i>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn" href="#">
                    <span class="icon">
                      <i class="ion ion-logo-twitter"></i>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn" href="#">
                    <span class="icon">
                      <i class="ion ion-logo-dribbble"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- End of navigation bar .navbar-top -->
  <!-- Begin of sidebar .nav-sidebar -->
  <nav class="nav-sidebar d-none d-xl-block">
    <ul class="nav-wrapper">
      <li class="nav-item active" data-section-anchor="home">
        <a href="#home" class="nav-link">
          <span class="icon">
            <i class="ion ion-md-home"></i>
          </span>
          <span class="text">Home Pages</span>
        </a>
      </li>
      <li class="nav-item" data-section-anchor="item">
        <a href="#item" class="nav-link">
          <span class="icon">
            <i class="ion ion-md-create"></i>
          </span>
          <span class="text">Item Pages</span>
        </a>
      </li>
      <li class="nav-item" data-section-anchor="gallery">
        <a href="#gallery" class="nav-link">
          <span class="icon">
            <i class="ion ion-md-apps"></i>
          </span>
          <span class="text">Grid &amp; gallery</span>
        </a>
      </li>
      <li class="nav-item" data-section-anchor="effects">
        <a href="#effects" class="nav-link">
          <span class="icon">
            <i class="ion ion-md-image"></i>
          </span>
          <span class="text">Effects</span>
        </a>
      </li>
      <li class="nav-item" data-section-anchor="version1">
        <a href="#version1" class="nav-link">
          <span class="icon">
            v1
          </span>
          <span class="text">Version 1</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- End of sidebar .nav-sidebar -->
  <nav class="nav-dot-menu"></nav>

  <!-- BEGIN OF page cover -->
  <div class="cover-page">
    <!-- Cover Background -->
    <!-- <div class="cover-bg">
			<img class="fit" src="img/bg-default1.jpg" alt="cover">
		</div> -->

    <!-- Gradient mask -->
    <!-- <div class="cover-bg bg-black opacity-8"></div> -->

    <!-- Solid Color -->
    <div class="cover-bg bg-black-demo"></div>
  </div>
  <!--END OF page cover -->

  <!-- BEGIN OF page main content -->
  <main class="page-main sections-scroll scroll-anim" id="mainpage">

    <!-- Begin of hero section -->
    <section id="top" class="section hero-a  ">
      <!-- Begin of section body -->
      <div class="section-body ">
        <!-- content -->
        <div class="hero-content pb-0 section-content container content-width anim">
          <div class="row">
            <div class="content-col col-12 col-md-8 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h1 class="display-title hero-title anim-1">Pages</h1>
              </div>
            </div>
            <div class="col-12">
              <hr>
            </div>

          </div>
        </div>
      </div>
      <!-- End of section body -->
    </section>
    <!-- End of hero section -->
    <!-- Begin of products section -->
    <section id="home" class="section section-a  ">

      <div class="section-title title-anim sticky-title-off opacity-2">
        <h2 class="text">demo pages</h2>
      </div>
      <!-- Begin of section body -->
      <div class="section-body pt-4 pb-0">
        <!-- content -->
        <div class="section-content container content-width anim">
          <div class="row mb-4">
            <div class="col-12 col-lg-8 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 anim-1 mb-4">Portfolio - Homes</h2>
                <p class="anim-2">Web pages that you can use as home page, landing page, portfolio page,
                  business page ...</p>
              </div>
            </div>
          </div>

          <!-- item-list -->
          <div class="part-wrapper">
            <div class="item-list row row-cols-1 row-cols-md-2 g-5 anim-list">
              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="index.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/index-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Simple</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="index-fullpage.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/index-fullpage-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Vertical slider scroll</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="home-1.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/home-1-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Portfolio 1</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="home-2.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/home-2-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Portfolio 2</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="home-3.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/home-3-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Portfolio 3</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="home-4.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/home-4.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Portfolio - Home 4</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="home-5.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/home-5.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Portfolio - Home 5</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="home-6.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/home-6.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Portfolio - Home 6</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="home-7.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/home-7.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Portfolio - Home 7</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="home-8.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/home-8.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Portfolio - Home 8</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="index-1.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/index-1-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Index 2</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="index-2.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/index-2-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Index 3</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

            </div>
          </div>
          <!-- end of item-list -->
        </div>
      </div>
      <!-- End of section body -->

    </section>
    <!-- End of products section -->
    <!-- Begin of products section -->
    <section id="item" class="section section-a  ">

      <div class="section-title title-anim sticky-title-off opacity-2">
        <h2 class="text">item pages</h2>
      </div>
      <!-- Begin of section body -->
      <div class="section-body pb-0">
        <!-- content -->
        <div class="section-content container content-width anim">
          <div class="row mb-4">
            <div class="col-12 col-lg-8 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 anim-1 mb-4">Item pages</h2>
                <p class="anim-2">Web pages that you can use as item detail page, product page, project page, article
                  ...</p>
              </div>
            </div>
          </div>

          <!-- item-list -->
          <div class="part-wrapper">
            <div class="item-list row row-cols-1 row-cols-md-2 g-5 anim-list">
              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="item.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/item-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Item A</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="item-2.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/item-2-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Item B</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

            </div>
          </div>
          <!-- end of item-list -->
        </div>
      </div>
      <!-- End of section body -->
    </section>
    <!-- End of products section -->
    <!-- Begin of products section -->
    <section id="gallery" class="section section-a  ">

      <div class="section-title title-anim sticky-title-off opacity-2">
        <h2 class="text">grid and gallery</h2>
      </div>
      <!-- Begin of section body -->
      <div class="section-body pb-0">
        <!-- content -->
        <div class="section-content container content-width anim">
          <div class="row mb-4">
            <div class="col-12 col-lg-8 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 anim-1 mb-4">Grid and gallery pages</h2>
                <p class="anim-2">Web pages that you can use to list products, images, projects, services or as a blog
                  page ...</p>
              </div>
            </div>
          </div>

          <!-- item-list -->
          <div class="part-wrapper">
            <div class="item-list row row-cols-1 row-cols-md-2 g-5 anim-list">
              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="gallery.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/gallery-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Gallery A</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="gallery-b.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/gallery-b-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Gallery B</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="blog.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/blog-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Blog</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

            </div>
          </div>
          <!-- end of item-list -->
        </div>
      </div>
      <!-- End of section body -->
    </section>
    <!-- End of products section -->
    <!-- Begin of hero section -->
    <section id="effects" class="section hero-a  ">
      <!-- Begin of section body -->
      <div class="section-body ">
        <!-- content -->
        <div class="hero-content pb-0 section-content container content-width anim">
          <div class="row">
            <div class="content-col col-12 col-md-8 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h1 class="display-title hero-title anim-1">Effects</h1>
              </div>
            </div>
            <div class="col-12">
              <hr>
            </div>

          </div>
        </div>
      </div>
      <!-- End of section body -->
    </section>
    <!-- End of hero section -->
    <!-- Begin of products section -->
    <section id="background" class="section section-a  ">

      <div class="section-title title-anim sticky-title-off opacity-2">
        <h2 class="text">background</h2>
      </div>
      <!-- Begin of section body -->
      <div class="section-body pt-4 pb-0">
        <!-- content -->
        <div class="section-content container content-width anim">
          <div class="row mb-4">
            <div class="col-12 col-lg-8 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 anim-1 mb-4">Background</h2>
                <p class="anim-2">Web pages that you can use to list products, images, projects, services or as a blog
                  page ...</p>
              </div>
            </div>
          </div>

          <!-- item-list -->
          <div class="part-wrapper">
            <div class="item-list row row-cols-1 row-cols-md-2 g-5 anim-list">
              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="index-1.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/index-1-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Image</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="index-video.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/index-video-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Video</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="index-slideshow-b.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/index-slideshow-b-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Images slideshow</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="index-color.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/index-color-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Color</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

            </div>
          </div>
          <!-- end of item-list -->
        </div>
      </div>
      <!-- End of section body -->

    </section>
    <!-- End of products section -->
    <!-- Begin of products section -->
    <section id="scrolling" class="section section-a  ">

      <div class="section-title title-anim sticky-title-off opacity-2">
        <h2 class="text">effects</h2>
      </div>
      <!-- Begin of section body -->
      <div class="section-body">
        <!-- content -->
        <div class="section-content container content-width anim">
          <div class="row mb-4">
            <div class="col-12 col-lg-8 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 anim-1 mb-4">Scrolling effects</h2>
                <p class="anim-2">All available page scrolling behavior and animations ...</p>
              </div>
            </div>
          </div>

          <!-- item-list -->
          <div class="part-wrapper">
            <div class="item-list row row-cols-1 row-cols-md-2 g-5 anim-list">
              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="index-fullpage.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/index-fullpage-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Page slides effects</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="home-2.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/home-2-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Parallax</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="index-2.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/index-2-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Normal with pager</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="index.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/index-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Simple</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

            </div>
          </div>
          <!-- end of item-list -->
        </div>
      </div>
      <!-- End of section body -->
    </section>
    <!-- End of products section -->
    <!-- Begin of products section -->
    <section id="version1" class="section section-a ">

      <div class="section-title title-anim sticky-title-off opacity-2">
        <h2 class="text">Version 1</h2>
      </div>
      <!-- Begin of section body -->
      <div class="section-body pt-5">
        <!-- content -->
        <div class="section-content container content-width anim">
          <div class="row mb-4">
            <div class="col-12 col-lg-8 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-1 strong anim-1 mb-4">Version 1</h2>
                <p class="anim-2">The previous version of this template, based on Bootstrap 4.</p>
              </div>
            </div>
          </div>

          <!-- item-list -->
          <div class="part-wrapper">
            <div class="item-list row row-cols-1 row-cols-md-2 g-5 anim-list">
              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="v1/demo.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/demo-v1-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Demo page</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="v1/index.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/index-v1-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Index Page</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="v1/gallery.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/gallery-v1-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Gallery Page</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-b" href="v1/item.html">
                  <div class="item-img rounded-xs shadow-md">
                    <img class="fit no-zoom" src="demopage/item-v1-demo.png" alt="team member">
                  </div>
                  <div class="item-body">
                    <div class="desc">
                      <div class="row">
                        <div class="col-auto">
                          <h4>Item page</h4>
                        </div>
                        <div class="col">
                          <hr class="hr-a">
                        </div>
                        <div class="col-auto">
                          <span class="icon-md">
                            <i class="ion ion-md-arrow-dropright-circle"></i>
                          </span>
                        </div>
                      </div>
                      <p class="category">Preview</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

            </div>
          </div>
          <!-- end of item-list -->
        </div>
      </div>
      <!-- End of section body -->

    </section>
    <!-- End of products section -->

  </main>
  <!-- END OF page main content -->

  <!-- BEGIN OF page footer -->
  <footer id="site-footer" class="footer-page ">
    <!-- Right content -->
    <div class="footer-right">
      <nav class="nav-social nav-social-a">
        <ul>
          <li class="nav-item">
            <a class="nav-link btn" href="#">
              <span class="icon">
                <i class="ion ion-logo-instagram"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="#">
              <span class="icon">
                <i class="ion ion-logo-twitter"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="#">
              <span class="icon">
                <i class="ion ion-logo-facebook"></i>
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  <!-- END OF site footer -->

  <!-- scripts -->
  <!-- All Javascript plugins goes here -->
  <script src="./js/bootstrap.min.js"></script>

  <!-- All vendor scripts -->
  <script src="./js/swiper/swiper-bundle.min.js"></script>
  <script src="./js/rellax/rellax-custom.js"></script>
  <script src="./js/axios/axios.min.js"></script>

  <!-- Custom made script -->
  <script src="./js/scroll-slider.js"></script>
  <script src="./js/section-scroll.js"></script>
  <script src="./js/scroll-anim.js"></script>

  <!-- Javascript main files -->
  <script src="./js/main.js"></script>

  <script src="./js/init-form.js"></script>

</body>

</html>