<!doctype html>
<!--
Website By Miradontsoa / Highhay
http://twitter.com/miradontsoa
http://highhay.com
contact at highhay dot com
-->
<html class="no-js smooth-scroll" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- Page Title Here -->
  <title>Simpleux - A portfolio / onepage template</title>

  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="description"
    content="A beautiful and creative portfolio template. It is mobile friend (responsive) and comes with smooth animations">

  <!-- Disable screen scaling-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, shrink-to-fit=no">

  <!-- Twitter Meta -->
  <meta name="twitter:site" content="@miradontsoa">
  <meta name="twitter:creator" content="@miradontsoa">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Page Title">
  <meta name="twitter:description" content="Description of the page">
  <meta name="twitter:image" content="/img/bg-default.jpg">

  <!-- Facebook Meta -->
  <meta property="og:url" content="your website url here">
  <meta property="og:title" content="Page Title">
  <meta property="og:description" content="Description of the page">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/img/bg-default.jpg">
  <meta property="og:image:secure_url" content="/img/bg-default.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <!-- Web fonts and Web Icons -->
  <link rel="stylesheet" href="./fonts/ionicons/stylesheet.css">
  <link rel="stylesheet" href="./fonts/font-awesome.min.css">

  <!-- Vendor CSS style -->
  <link rel="stylesheet" href="./css/page-loader.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./js/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="./js/vegas/vegas.min.css">

  <!-- Main CSS files -->
  <link rel="stylesheet" href="./css/main.css">

  <!-- add alt layout here -->

  <script src="./js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="body-page">
  <!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <!-- Page Loader : just comment these lines to remove it -->
  <div class="page-loader" id="page-loader">
    <div>
      <div class="icon icon-spin"></div>
      <p>loading</p>
    </div>
  </div>
  <!-- Begin of navigation bar .navbar-top -->
  <header class="navbar-top navbar navbar-a navbar-expand-lg ">
    <nav class="container-fluid px-0">

      <!-- Logo -->
      <a class="navbar-brand" href="demo.html">
        <span class="logo">
          <img class="light-logo" src="img/logo.svg" alt="Simpleux Template">
        </span>
        <span class="text ms-3">
          <span class="line strong">Arnaud Smith</span>
          <span class="line sub">Portfolio Page</span>
        </span>
      </a>

      <!-- Menu button -->
      <button class="navbar-toggler order-lg-2 ms-5 " type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarMenuCollapse" aria-controls="navbarMenuCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="icon icon-menu icon-menu-c">
          <span class="bars">
            <span class="bar1"></span>
            <span class="bar2"></span>
          </span>
        </span>
      </button>

      <!-- Navigation menu -->
      <div class="collapse navbar-collapse order-lg-1" id="navbarMenuCollapse">
        <div class="navbar-menu-wrapper ">
          <div class="nav-body">
            <!-- Menu links at top -->
            <ul class="navbar-nav nav-menu-top">
              <li class="nav-item" data-section-anchor="about">
                <a class="nav-link" aria-current="page" href="#about">About</a>
              </li>
              <li class="nav-item" data-section-anchor="projects">
                <a class="nav-link" aria-current="page" href="#projects">Works</a>
              </li>
              <li class="nav-item" data-section-anchor="contact">
                <a class="nav-link" aria-current="page" href="#contact">Contact</a>
              </li>
            </ul>

            <!-- Fullscreen menu on large devices -->
            <div class="nav-fullscreen-lg">
              <ul class="navbar-nav nav">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="demo.html#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="demo.html#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="demo.html#item">Item</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="demo.html">Demo</a>
                </li>
              </ul>
            </div>
          </div>

          <!-- Nav footer of small devices -->
          <div class="nav-footer-md">
            <nav class="nav-social nav-social-a">
              <ul>
                <li class="nav-item">
                  <a class="nav-link btn" href="#">
                    <span class="icon">
                      <i class="ion ion-logo-instagram"></i>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn" href="#">
                    <span class="icon">
                      <i class="ion ion-logo-twitter"></i>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn" href="#">
                    <span class="icon">
                      <i class="ion ion-logo-dribbble"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- End of navigation bar .navbar-top -->
  <div class="nav-dot-menu"></div>

  <!-- BEGIN OF page main content -->
  <main class="page-main sections-scroll scroll-anim" id="mainpage">

    <!-- Begin of projects section -->
    <section id="gallery" class="section section-a content-white">
      <div class="section-title">
        <h2 class="text">projects</h2>
      </div>
      <!-- Begin of section body -->
      <div class="section-body py-0">
        <!-- content -->

        <div class="section-content content-full px-0 anim">

          <!-- Slider main container -->
          <div class="swiper-container slider-gallery-a animated">
            <!-- Swiper wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide slide-item-gallery-a">
                <div class="item-wrapper">
                  <div class="item-image">
                    <img src="img/items/img-sample11.jpg" alt="image">
                  </div>
                  <div class="item-content content-width ">
                    <h4 class="category">Marketing</h4>
                    <h3 class="title">Innovis <br>Projectum</h3>
                    <div class="btns-group">
                      <a class="btn btn-overline-a" href="#">
                        Learn more
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide slide-item-gallery-a">
                <div class="item-wrapper">
                  <div class="item-image">
                    <img src="img/items/img-sample12.jpg" alt="image">
                  </div>
                  <div class="item-content content-width ">
                    <h4 class="category">Real Estate</h4>
                    <h3 class="title">Glassia <br>Metalix</h3>
                    <div class="btns-group">
                      <a class="btn btn-overline-a" href="#">
                        Learn more
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide slide-item-gallery-a">
                <div class="item-wrapper">
                  <div class="item-image">
                    <img src="img/items/img-sample13.jpg" alt="image">
                  </div>
                  <div class="item-content content-width ">
                    <h4 class="category">Branding</h4>
                    <h3 class="title">Teacoffi <br>Atlantis</h3>
                    <div class="btns-group">
                      <a class="btn btn-overline-a" href="#">
                        Learn more
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- slider pagination -->
            <div class="swiper-pagination"></div>

            <!-- slider navigation buttons -->
            <div class="slider-btns">
              <div class="slider-btn slider-prev swiper-button-prev">
                <span class="icon ion-md-arrow-back"></span>
              </div>
              <div class="slider-btn slider-next swiper-button-next">
                <span class="icon ion-md-arrow-forward"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End of section body -->

    </section>
    <!-- End of projects section -->
    <!-- Begin of works section -->
    <section id="works" class="section section-a ">

      <div class="section-title title-left text-vert z-top">
        <div class="rellax" data-rellax-speed="6">
          <h2 class="text text-lg nowrap">Works &amp; Projects</h2>
        </div>
      </div>
      <!-- Begin of section body -->
      <div class="section-body">
        <!-- content -->
        <div class="section-content container content-width anim">
          <div class="row mb-4">
            <div class="col-12 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 anim-1 mb-4">Projects</h2>
                <p class="anim-2">We did so many projects since the beginning of our path. Here are some of the
                  remarkable ones.</p>
              </div>
            </div>
            <div class="col-lg-6 text-right">
              <a class="btn btn-outline-b btn-white text-spaced text-uppercase" href="#about">
                <span class="text">our services</span>
              </a>
            </div>
          </div>
        </div>

        <div class="section-content container content-xl anim">
          <!-- item-list -->
          <div class="part-wrapper">
            <div class="item-list row row-cols-1 row-cols-md-2 g-list shifted-odd">
              <div class="col">
                <!-- card -->
                <a class="item item-image-e " href="#">
                  <div data-anim-visible='fade-up'>
                    <div class="item-img">
                      <img class="fit" src="img/items/img-portrait3.jpg" alt="team member">
                    </div>
                  </div>
                  <div class="item-body overlap text-right">
                    <div class="desc text-shadow rellax" data-rellax-speed="1.2" data-rellax-percentage="0.5">
                      <h4>Telefon</h4>
                      <p>Product Design</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>
              <div class="col">
                <!-- card -->
                <a class="item item-image-e" href="#">
                  <div data-anim-visible='fade-up'>
                    <div class="item-img">
                      <img class="fit" src="img/items/img-portrait2.jpg" alt="team member">
                    </div>
                  </div>
                  <div class="item-body overlap text-right">
                    <div class="desc text-shadow rellax" data-rellax-speed="1.2" data-rellax-percentage="0.5">
                      <h4>Luminix</h4>
                      <p>Interior Design</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-e" href="#">
                  <div data-anim-visible='fade-up'>
                    <div class="item-img">
                      <img class="fit" src="img/items/img-portrait6.jpg" alt="team member">
                    </div>
                  </div>
                  <div class="item-body overlap text-right">
                    <div class="desc text-shadow rellax" data-rellax-speed="1.2" data-rellax-percentage="0.5">
                      <h4>Furtis</h4>
                      <p>Art, Showcase</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>

              <div class="col">
                <!-- card -->
                <a class="item item-image-e" href="#">
                  <div data-anim-visible='fade-up'>
                    <div class="item-img">
                      <img class="fit" src="img/items/img-portrait5.jpg" alt="team member">
                    </div>
                  </div>
                  <div class="item-body overlap text-right">
                    <div class="desc text-shadow rellax" data-rellax-speed="1.2" data-rellax-percentage="0.5">
                      <h4>Rouge</h4>
                      <p>Photography</p>
                    </div>
                  </div>
                </a>
                <!-- end of card -->
              </div>
            </div>
          </div>

        </div>
      </div>
      </div>
      </div>
      <!-- End of section body -->

    </section>
    <!-- End of works section -->

    <!-- Begin of home contact -->
    <section id="contact" class="section section-a fullscreen-h-lg">
      <div class="section-title title-anim">
        <div data-anim-visible='zoom-in'>
          <h2 class="text">get in touch</h2>
        </div>
      </div>
      <!-- Begin of section body -->
      <div class="section-body section-contact" itemscope itemtype="https://schema.org/Organization">
        <!-- content -->
        <div class="section-content container content-width anim">
          <div class="row justify-content-between">
            <div class="col-12 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 anim-1 mb-4" data-anim-visible='fade'>Contact</h2>
                <div class="d-flex align-items-center  anim-2" data-anim-visible='fade'>
                  <a class="email email-main btn-inline" href="mailto:hello@ourinbox.com"
                    itemprop="email">hello@ourinbox.com</a>
                  <button class="btn-fab btn-white ms-3" data-bs-toggle="modal" data-bs-target="#messageModal">
                    <span class="icon"><i class="ion-md-mail"></i></span>
                  </button>
                </div>
                <p class="anim-3" data-anim-visible='fade'>Feel free to ask us any questions related to our activities.
                  We will be happy
                  to answer you.</p>
              </div>
            </div>
          </div>

          <div class="modal modal-a " id="messageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog popup-container">
              <div class="modal-content">
                <div class="popup-header">
                  <div class="title">
                    Write to us
                  </div>
                  <div class="btns-group">
                    <button class="btn-icon btn-white ms-3" data-bs-dismiss="modal">
                      <span class="icon"><i class="ion-md-close"></i></span>
                    </button>
                  </div>
                </div>
                <div class="popup-body">
                  <form id="form-message" class="form-a form-message form-message" method="post"
                    action="ajaxserver/serverfile.php">
                    <div class="mb-3">
                      <label for="name-message" class="form-label">Name</label>
                      <input type="text" class="form-control form-control-a" id="name-message"
                        placeholder="Firstname Lastname" required>
                    </div>
                    <div class="mb-3">
                      <label for="email-message" class="form-label">Email</label>
                      <input type="email" class="form-control form-control-a" id="email-message"
                        placeholder="your@email.com" required>
                    </div>
                    <div class="mb-3">
                      <label for="message-message" class="form-label">Message</label>
                      <textarea class="form-control form-control-b" id="message-message"
                        placeholder="Hello, your message" required></textarea>
                    </div>
                    <div class="mt-4">
                      <button class="btn btn-solid btn-white rounded-pill" type="submit">
                        <span class="text">Send message</span>
                      </button>
                      <div class="error-show">
                        <p class="">Ooops, an error happened</p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <form class="form-contact">

            </form>
          </div>

          <div class="row mt-4 anim-4">
            <div class="col-12 col-lg-4 mb-4 text-left">
              <div itemprop="department" itemscope itemtype="https://schema.org/Place" data-anim-visible='fade'>
                <h4 class="dep-name" itemprop="name">
                  <strong>Antartica Office</strong>
                </h4>
                <div class="dep-address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                  <div class="addr-line">Phone: <span itemprop="telephone">(0)123-456-7890</span></div>
                  <div class="addr-line">
                    <span itemprop="streetAddress">12 Avenue de l'Est</span>
                  </div>
                  <div class="addr-line">
                    <!-- <span itemprop="postalCode">98000</span> -->
                    <span itemprop="addressLocality">New Warc City, Antartica</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 text-left">
              <div itemprop="department" itemscope itemtype="https://schema.org/Place" data-anim-visible='fade'>
                <h4 class="dep-name" itemprop="name">
                  <strong>Arctic Box</strong>
                </h4>
                <div class="dep-address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                  <div class="addr-line">Phone: <span itemprop="telephone">(0)123-456-7890</span></div>
                  <div class="addr-line">
                    <span itemprop="streetAddress">21 East Street, First Box</span>
                  </div>
                  <div class="addr-line">
                    <!-- <span itemprop="postalCode">98000</span> -->
                    <span itemprop="addressLocality">Los Ingales, Arctica</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="row justify-content-lg-end">
                <div class="col-auto">
                  <nav class="nav-list" data-anim-visible='fade'>
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Terms &amp; Conditions</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End of section body -->

    </section>
    <!-- End of contact section -->
  </main>
  <!-- END OF page main content -->

  <!-- BEGIN OF page footer -->
  <footer id="site-footer" class="footer-page ">
    <!-- Right content -->
    <div class="footer-right">
      <nav class="nav-social nav-social-a">
        <ul>
          <li class="nav-item">
            <a class="nav-link btn" href="#">
              <span class="icon">
                <i class="ion ion-logo-instagram"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="#">
              <span class="icon">
                <i class="ion ion-logo-twitter"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="#">
              <span class="icon">
                <i class="ion ion-logo-linkedin"></i>
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  <!-- END OF site footer -->

  <!-- scripts -->
  <!-- All Javascript plugins goes here -->
  <script src="./js/bootstrap.min.js"></script>

  <!-- All vendor scripts -->
  <script src="./js/swiper/swiper-bundle.min.js"></script>
  <script src="./js/rellax/rellax-custom.js"></script>
  <script src="./js/axios/axios.min.js"></script>

  <!-- Custom made script -->
  <script src="./js/scroll-slider.js"></script>
  <script src="./js/section-scroll.js"></script>
  <script src="./js/scroll-anim.js"></script>

  <!-- Javascript main files -->
  <script src="./js/main.js"></script>

  <script src="./js/init-form.js"></script>

</body>

</html>