<!doctype html>
<!--
Website By Miradontsoa / Highhay
http://twitter.com/miradontsoa
http://highhay.com
contact at highhay dot com
-->
<html class="no-js smooth-scroll" lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <!-- Page Title Here -->
  <title>Simpleux - A portfolio / onepage template</title>

  <!-- Meta -->
  <!-- Page Description Here -->
  <meta name="description"
    content="A beautiful and creative portfolio template. It is mobile friend (responsive) and comes with smooth animations">

  <!-- Disable screen scaling-->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, shrink-to-fit=no">

  <!-- Twitter Meta -->
  <meta name="twitter:site" content="@miradontsoa">
  <meta name="twitter:creator" content="@miradontsoa">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="Page Title">
  <meta name="twitter:description" content="Description of the page">
  <meta name="twitter:image" content="/img/bg-default.jpg">

  <!-- Facebook Meta -->
  <meta property="og:url" content="your website url here">
  <meta property="og:title" content="Page Title">
  <meta property="og:description" content="Description of the page">
  <meta property="og:type" content="website">
  <meta property="og:image" content="/img/bg-default.jpg">
  <meta property="og:image:secure_url" content="/img/bg-default.jpg">
  <meta property="og:image:type" content="image/jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
  <!-- Web fonts and Web Icons -->
  <link rel="stylesheet" href="./fonts/ionicons/stylesheet.css">
  <link rel="stylesheet" href="./fonts/font-awesome.min.css">

  <!-- Vendor CSS style -->
  <link rel="stylesheet" href="./css/page-loader.css">
  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./js/swiper/swiper-bundle.css">
  <link rel="stylesheet" href="./js/vegas/vegas.min.css">

  <!-- Main CSS files -->
  <link rel="stylesheet" href="./css/main.css">

  <!-- add alt layout here -->
  <link rel="stylesheet" href="./css/style-1.css">

  <script src="./js/vendor/modernizr-2.7.1.min.js"></script>
</head>

<body id="menu" class="body-page">
  <!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

  <!-- Begin of navigation bar .navbar-top -->
  <header class="navbar-top navbar navbar-a navbar-expand-lg navbar-dark ">
    <nav class="container-fluid px-0">

      <!-- Logo -->
      <a class="navbar-brand" href="demo.html">
        <span class="logo">
          <img class="light-logo" src="img/logo.svg" alt="Simpleux Template">
        </span>
        <span class="text ms-3">
          <span class="line strong">Simpleux</span>
          <span class="line sub">Portfolio Template</span>
        </span>
      </a>

      <!-- Menu button -->
      <button class="navbar-toggler order-lg-2" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarMenuCollapse" aria-controls="navbarMenuCollapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="icon icon-menu icon-menu-a">
          <span class="bars">
            <span class="bar1"></span>
            <span class="bar2"></span>
            <span class="bar3"></span>
          </span>
        </span>
      </button>

      <!-- Navigation menu -->
      <div class="collapse navbar-collapse order-lg-1" id="navbarMenuCollapse">
        <div class="navbar-menu-wrapper">
          <div class="nav-body">
            <!-- Menu links at top -->
            <ul class="navbar-nav nav-menu-top">
              <li class="nav-item" data-section-anchor="home">
                <a class="nav-link" aria-current="page" href="#an_url">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarTopDropdown" role="button"
                  data-bs-toggle="dropdown" aria-expanded="false">
                  Pages
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarTopDropdown">
                  <li><a class="dropdown-item" href="demo.html#home">Home pages</a></li>
                  <li><a class="dropdown-item" href="demo.html#item">Item pages</a></li>
                  <li><a class="dropdown-item" href="demo.html#gallery">Gallery pages</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li><a class="dropdown-item" href="#">All pages</a></li>
                </ul>
              </li>
            </ul>

            <!-- Fullscreen menu on large devices -->
            <div class="nav-fullscreen-lg">
              <ul class="navbar-nav nav">
                <li class="nav-item">
                  <a class="nav-link" aria-current="demo.html#home" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="demo.html#gallery">Gallery</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="demo.html#item">Item</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="demo.html">Demo</a>
                </li>
              </ul>
            </div>

            <!-- Call to action buttons -->
            <ul class="navbar-nav nav-cta">
              <li class="nav-item">
                <a class="btn btn-outline btn-white rounded-pill" href="#">
                  <span class="text">Buy now</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- Nav footer of small devices -->
          <div class="nav-footer-md">
            <nav class="nav-social nav-social-a">
              <ul>
                <li class="nav-item">
                  <a class="nav-link btn" href="#">
                    <span class="icon">
                      <i class="ion ion-logo-instagram"></i>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn" href="#">
                    <span class="icon">
                      <i class="ion ion-logo-twitter"></i>
                    </span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link btn" href="#">
                    <span class="icon">
                      <i class="ion ion-logo-dribbble"></i>
                    </span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <!-- End of navigation bar .navbar-top -->
  <!-- BEGIN OF page main content -->
  <main class="page-main sections-scroll scroll-anim" id="mainpage">

    <!-- Begin of hero section -->
    <section id="home" class="section hero-item-a ">

      <div class="section-cover ">
        <img class="fit opacity-8" src="img/items/img-sample2.jpg" alt="person">
      </div>
      <!-- Begin of section body -->
      <div class="section-body">
        <!-- content -->
        <div class="hero-content section-content container content-width anim">
          <div class="row">
            <div class="content-col col-12 col-md-8 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h1 class="display-title hero-title anim-1">Alfa Dizeing</h1>
                <h4 class="subtitle">Branding, Website</h4>
              </div>

              <!-- Action button -->
              <!-- <div class="hero-btns btns-action anim-3">
                        <a class="btn btn-outline btn-white rounded-pill" href="#about">
                            <span class="text">Get started</span>
                        </a>
                    </div> -->
            </div>

          </div>
        </div>
      </div>
      <!-- End of section body -->

    </section>
    <!-- End of hero section -->
    <!-- Begin of about section -->
    <section id="about" class="section section-a ">
      <!-- Begin of section body -->
      <div class="section-body">
        <!-- content -->
        <div class="section-content container content-width anim">
          <div class="row">
            <div class="col-12 text-left">

              <!-- article content -->
              <article class="article-a">
                <h2 class="tilte">The project</h2>
                <p class="subtitle">A simple layout design made by designer and coders for projects and designer
                  people.</p>
                <hr class="opacity-0">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada feugiat.
                  Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non. Quisque convallis
                  pharetra tempor. Donec id pretium leo. Pellentesque luctus massa non elit viverra
                  pellentesque. Cras vitae neque molestie, rhoncus ipsum sit amet, lobortis dui. Fusce in urna
                  sem. Vivamus vehicula dignissim augue et scelerisque. Etiam quam nisi, molestie ac dolor in,
                  tincidunt tincidunt arcu. Praesent sed justo finibus, fringilla velit quis, porta erat.
                  Donec blandit metus ut arcu iaculis iaculis.
                </p>

                <!-- sample images -->
                <div class="row g-5 align-items-center mt-4">
                  <div class="col-12 col-md-6">
                    <!-- image -->
                    <div class="item item-image-b col-12 col-lg-9">
                      <div class="item-img rounded-md">
                        <img class="fit" src="img/items/img-portrait1.jpg" alt="team member">
                      </div>
                      <div class="item-body">
                        <div class="desc">
                          <h4>Zeta Deskyn</h4>
                          <p>Interior Design</p>
                        </div>
                      </div>
                    </div>
                    <!-- end of image -->
                  </div>
                  <div class="col-12 col-md-6">
                    <!-- image -->
                    <div class="item item-image-b">
                      <div class="item-img rounded-md">
                        <img class="fit" src="img/items/img-sample1.jpg" alt="team member">
                      </div>
                      <div class="item-body">
                        <div class="desc">
                          <h4>Fruita Wikiw</h4>
                          <p>Art, Photography</p>
                        </div>
                      </div>
                    </div>
                    <!-- end of image -->
                  </div>
                </div>
                <!-- end of sample images -->

                <h3 class="mt-5">New branding</h3>
                <p>
                  We recreated it from the ground. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Mauris aliquet malesuada feugiat. Curabitur fermentum bibendum nulla, non dictum ipsum
                  tincidunt non. Quisque convallis pharetra tempor.
                </p>

                <!--  item list -->
                <div class="item-list row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">
                  <div class="col">
                    <!-- an item -->
                    <div class="item item-feature-b">
                      <div class="img">
                        <h3 class="icon">
                          <i class="icon ion-ios-color-palette"></i>
                        </h3>
                      </div>
                      <div class="item-body">
                        <h4>Designer</h4>
                        <p>+5 years of exp.</p>
                      </div>
                    </div>
                  </div>

                  <div class="col">
                    <!-- an item -->
                    <div class="item item-feature-b">
                      <div class="img">
                        <h3 class="icon">
                          <i class="icon ion-ios-cog"></i>
                        </h3>
                      </div>
                      <div class="item-body">
                        <h4>15+ Projects</h4>
                        <p>Done this year</p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <!-- an item -->
                    <div class="item item-feature-b">
                      <div class="img">
                        <h3 class="icon">
                          <i class="icon ion-ios-microphone"></i>
                        </h3>
                      </div>
                      <div class="item-body">
                        <h4>Expo Speaker</h4>
                        <p>At 2000 Tech Summit</p>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- end of item list -->

              </article>

            </div>

          </div>
        </div>
      </div>
      <!-- End of section body -->

    </section>
    <!-- End of about section -->
    <!-- Begin of about section -->
    <section id="about" class="section section-a ">
      <div class="section-cover ">
        <img class="fit opacity-3" src="img/items/img-sample10.jpg" alt="person">
      </div>

      <div class="section-title title-anim">
        <h2 class="text">about</h2>
      </div>
      <!-- Begin of section body -->
      <div class="section-body">
        <!-- content -->
        <div class="section-content container content-width anim">
          <div class="row">
            <div class="col-12 col-lg-8 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 anim-1 mb-4">Who we are</h2>
                <p class="anim-2">Kompany is an agency specialized in building brands and startup, we are
                  a team of cool people wanting to develop cool and smart technologies out of something
                  simple.</p>
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet malesuada
                  feugiat.
                  Curabitur fermentum bibendum nulla, non dictum ipsum tincidunt non.</p>
              </div>

            </div>

          </div>
        </div>
      </div>
      <!-- End of section body -->

    </section>
    <!-- End of about section -->
    <!-- Begin of projects section -->
    <section class="section section-a " data-section="reviews">
      <div class="section-title title-anim">
        <h2 class="text">projects</h2>
      </div>
      <!-- Begin of section body -->
      <div class="section-body">
        <!-- content -->

        <div class="section-content container content-width anim d-lg-none">
          <div class="row mb-4">
            <div class="col-12 col-lg-8 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 anim-1 mb-0">Projects</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="section-content content-full px-0 anim">

          <!-- Slider main container -->
          <div class="swiper-container slider-simple-a animated">
            <!-- Swiper wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide slide-item-a">
                <div class="item-wrapper">
                  <div class="item-image rounded-md">
                    <img src="img/items/img-sample2.jpg" alt="image">
                  </div>
                  <div class="item-content">
                    <h5 class="subtitle">Projects</h5>
                    <h3 class="title">Alfa Dizeing</h3>
                    <h4 class="category">Branding, Website</h4>
                  </div>
                </div>
              </div>
              <div class="swiper-slide slide-item-a">
                <div class="item-wrapper">
                  <div class="item-image rounded-md">
                    <img src="img/items/img-sample3.jpg" alt="image">
                  </div>
                  <div class="item-content">
                    <h5 class="subtitle">Projects</h5>
                    <h3 class="title">Bureauss</h3>
                    <h4 class="category">Branding, Website</h4>
                  </div>
                </div>
              </div>
              <div class="swiper-slide slide-item-a">
                <div class="item-wrapper">
                  <div class="item-image rounded-md">
                    <img src="img/items/img-sample5.jpg" alt="image">
                  </div>
                  <div class="item-content">
                    <h5 class="subtitle">Projects</h5>
                    <h3 class="title">Paintus</h3>
                    <h4 class="category">Branding, Website</h4>
                  </div>
                </div>
              </div>
            </div>
            <!-- slider pagination -->
            <div class="swiper-pagination"></div>

            <!-- slider navigation buttons -->
            <div class="slider-btn slider-prev swiper-button-prev">
              <span class="icon ion-md-arrow-back"></span>
            </div>
            <div class="slider-btn slider-next swiper-button-next">
              <span class="icon ion-md-arrow-forward"></span>
            </div>
          </div>
        </div>
      </div>
      <!-- End of section body -->

    </section>
    <!-- End of projects section -->

    <!-- Begin of home contact -->
    <section id="contact" class="section section-a section-pt-0">
      <div class="section-title title-anim">
        <div data-anim-visible='zoom-in'>
          <h2 class="text">get in touch</h2>
        </div>
      </div>
      <!-- Begin of section body -->
      <div class="section-body section-contact" itemscope itemtype="https://schema.org/Organization">
        <!-- content -->
        <div class="section-content container content-width anim">
          <div class="row justify-content-between">
            <div class="col-12 col-lg-6 text-left">
              <!-- title and description -->
              <div class="title-desc">
                <h2 class="display-3 anim-1 mb-4" data-anim-visible='fade'>Contact</h2>
                <div class="d-flex align-items-center  anim-2" data-anim-visible='fade'>
                  <a class="email email-main btn-inline" href="mailto:hello@ourinbox.com"
                    itemprop="email">hello@ourinbox.com</a>
                  <button class="btn-fab btn-white ms-3" data-bs-toggle="modal" data-bs-target="#messageModal">
                    <span class="icon"><i class="ion-md-mail"></i></span>
                  </button>
                </div>
                <p class="anim-3" data-anim-visible='fade'>Feel free to ask us any questions related to our activities.
                  We will be happy
                  to answer you.</p>
              </div>
            </div>
          </div>

          <div class="modal modal-a " id="messageModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog popup-container">
              <div class="modal-content">
                <div class="popup-header">
                  <div class="title">
                    Write to us
                  </div>
                  <div class="btns-group">
                    <button class="btn-icon btn-white ms-3" data-bs-dismiss="modal">
                      <span class="icon"><i class="ion-md-close"></i></span>
                    </button>
                  </div>
                </div>
                <div class="popup-body">
                  <form id="form-message" class="form-a form-message form-message" method="post"
                    action="ajaxserver/serverfile.php">
                    <div class="mb-3">
                      <label for="name-message" class="form-label">Name</label>
                      <input type="text" class="form-control form-control-a" id="name-message"
                        placeholder="Firstname Lastname" required>
                    </div>
                    <div class="mb-3">
                      <label for="email-message" class="form-label">Email</label>
                      <input type="email" class="form-control form-control-a" id="email-message"
                        placeholder="your@email.com" required>
                    </div>
                    <div class="mb-3">
                      <label for="message-message" class="form-label">Message</label>
                      <textarea class="form-control form-control-b" id="message-message"
                        placeholder="Hello, your message" required></textarea>
                    </div>
                    <div class="mt-4">
                      <button class="btn btn-solid btn-white rounded-pill" type="submit">
                        <span class="text">Send message</span>
                      </button>
                      <div class="error-show">
                        <p class="">Ooops, an error happened</p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <form class="form-contact">

            </form>
          </div>

          <div class="row mt-4 anim-4">
            <div class="col-12 col-lg-4 mb-4 text-left">
              <div itemprop="department" itemscope itemtype="https://schema.org/Place" data-anim-visible='fade'>
                <h4 class="dep-name" itemprop="name">
                  <strong>Antartica Office</strong>
                </h4>
                <div class="dep-address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                  <div class="addr-line">Phone: <span itemprop="telephone">(0)123-456-7890</span></div>
                  <div class="addr-line">
                    <span itemprop="streetAddress">12 Avenue de l'Est</span>
                  </div>
                  <div class="addr-line">
                    <!-- <span itemprop="postalCode">98000</span> -->
                    <span itemprop="addressLocality">New Warc City, Antartica</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-4 text-left">
              <div itemprop="department" itemscope itemtype="https://schema.org/Place" data-anim-visible='fade'>
                <h4 class="dep-name" itemprop="name">
                  <strong>Arctic Box</strong>
                </h4>
                <div class="dep-address" itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
                  <div class="addr-line">Phone: <span itemprop="telephone">(0)123-456-7890</span></div>
                  <div class="addr-line">
                    <span itemprop="streetAddress">21 East Street, First Box</span>
                  </div>
                  <div class="addr-line">
                    <!-- <span itemprop="postalCode">98000</span> -->
                    <span itemprop="addressLocality">Los Ingales, Arctica</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-4">
              <div class="row justify-content-lg-end">
                <div class="col-auto">
                  <nav class="nav-list" data-anim-visible='fade'>
                    <ul class="nav flex-column">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Projects</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Terms &amp; Conditions</a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- End of section body -->

    </section>
    <!-- End of contact section -->
  </main>
  <!-- END OF page main content -->

  <!-- BEGIN OF page footer -->
  <footer id="site-footer" class="footer-page ">
    <!-- Left content -->
    <div class="footer-left">
      <p class="note text-sm">&copy; 2000 <a href="http://highhay.com"><span class="marked">Brand Co.</span></a>
      </p>
    </div>
    <!-- Right content -->
    <div class="footer-right">
      <nav class="nav-social nav-social-a">
        <ul>
          <li class="nav-item">
            <a class="nav-link btn" href="#">
              <span class="icon">
                <i class="ion ion-logo-instagram"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="#">
              <span class="icon">
                <i class="ion ion-logo-twitter"></i>
              </span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn" href="#">
              <span class="icon">
                <i class="ion ion-logo-linkedin"></i>
              </span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  <!-- END OF site footer -->

  <!-- scripts -->
  <!-- All Javascript plugins goes here -->
  <script src="./js/bootstrap.min.js"></script>

  <!-- All vendor scripts -->
  <script src="./js/swiper/swiper-bundle.min.js"></script>
  <script src="./js/rellax/rellax-custom.js"></script>
  <script src="./js/axios/axios.min.js"></script>

  <!-- Custom made script -->
  <script src="./js/scroll-slider.js"></script>
  <script src="./js/section-scroll.js"></script>
  <script src="./js/scroll-anim.js"></script>

  <!-- Javascript main files -->
  <script src="./js/main.js"></script>

  <script src="./js/init-form.js"></script>

</body>

</html>