.nav-list{
    a,
    .nav-link{
        color: $white;
        padding: 0.125rem 0;
        margin: 0.125rem 0;
        display: inline-block;
        @include btn-inline();
        &:hover{
            color: $white;
            text-decoration: none;
        }
    }
}