/*
    TABLE OF CONTENT
    0 Initialization & Helpers
        0.1 Initialization
        0.2 Helpers and Utilities
        0.3 Animations & keyframes
    1 Components
        1.1 Navigation bar navbar-a, sidebar, dots navigation
        1.2 Icons
        1.3 Buttons
        1.4 Cards
        1.5 Articles
        1.6 Dropdown
        1.7 Forms
        1.8 Popup
        1.9 Row, Grid, List Items
        1.10 Carousel, slider , scrolls
        1.11 Footer
        1.12 Others
    2 Sections / .section
        2.1 Section init 
        2.2 Section cover
        2.3 Section title
        2.4 Section content
        2.5 Section contact
        2.6 Section footer
        2.7 Section variants
            2.7.a Default format 
            2.7.b Hero
    3 Page
        3.1 Page init
        3.2 Page cover
        3.3 Page footer
*/

/*
    DEFAULT COLOR SCHEMES
    Primary : Pink #BB2464
    Secondary : Blue #3d4963
    Black : #1b1919
    Gray: #8b8b8b;
*/

/*
    DEFAULT FONT FAMILY
    System fonts : 
    "SF Pro Display",
    "Segoe UI",
    "Noto Sans",
    "Roboto",
    "Helvetica",
    "Opensans",
    Fall back to system fonts

*/