html{
    font-size: 16px;
    &.smooth-scroll {
        scroll-behavior: smooth;
        font-family: $font-family-sans-serif;
    }
}

body{
    background: $black;
    color: $white;
    // font-family: $font-family-sans-serif;
}